#friends-display-link {
  background-color: #fafafa;
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
}
#friends-display-link i {
  margin-right: 5px;
  margin-left: 15px;
  opacity: 0.2;
}
.friends-display-link__title {
  font-weight: 500;
  opacity: 0.7;
}
.channel__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
}
.channel__chevron-btn {
  background-color: inherit;
  border: none;
  opacity: 0.6;
  outline: none;
  cursor: pointer;
}
.channel__text {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
}
