.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  left: 75%;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100%;
  background-color: #ff6229;
}
.no-number {
  top: -8px;
  width: 7px;
  height: 7px;
  left: 100%;
}
